In [1]:
### ESERCIZIO 1
# I imported data for you. Your are welcome! ðŸ™‚
import pandas as pd
import numpy as np

from sklearn.datasets import load_iris

data = load_iris()

X = data['data']
y = data['target']

print(f"Dataset is made by {len(X)} data, whose first 5 lines are \n {X[:5]} \n ")
print(f"Target vector is {len(y)}-long, and targets names are \n {data['target_names']}")
data

Dataset is made by 150 data, whose first 5 lines are
 [[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]

Target vector is 150-long, and targets names are
 ['setosa' 'versicolor' 'virginica']

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'C:\\Users\\Matteo\\anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\iris.csv'}

In [2]:
df = pd.DataFrame(data['data'], columns= ["S-L","S-W","P-L","P-W"])
df["Specie"] = y
df.sort_values("Specie")
df.head()

   S-L  S-W  P-L  P-W  Specie
0  5.1  3.5  1.4  0.2       0
1  4.9  3.0  1.4  0.2       0
2  4.7  3.2  1.3  0.2       0
3  4.6  3.1  1.5  0.2       0
4  5.0  3.6  1.4  0.2       0

In [3]:
def euclidean_distance(x, y):
    """Euclidean distance implementation.
    Parameters
    ----------
    x, y: np.array
    Return
    ------
    float: the Euclidean distance between x, y.
    """
    return np.linalg.norm(x-y, axis=1)

def cosine_distance(x, y):
    """Cosine distance implementation.

    Parameters
    ----------
    x, y: np.array

    Return
    ------
    float: the Cosine distance between x, y.
    """
    return np.abs(np.dot(x, y))/(np.linalg.norm(x) * np.linalg.norm(y))

def manhattan_distance(x, y):
    """Manhattan distance implementation.

    Parameters
    ----------
    x, y: np.array

    Return
    ------
    float: the Manhattan distance between x, y.
    """
    return np.sum(np.abs(x-y))

In [4]:
# Features matrix
X = df.drop("Specie", axis=1)
X = X.values

# label vector
y = df["Specie"]
y = y.values

In [5]:
l = []
for i in range(10):
    l.append(np.random.randint(0,149))

X_campione = np.delete(X,l,0)
X_test = X[l]

In [6]:
# MODELLO MEDIA 
# SCELGO I DATI CAMPIONE E I DATI TEST
import random

l1 = []
while len(l1) < 10:
    rand = random.randint(0,149)
    if rand in l1:
        continue
    else:
        l1.append(rand)

df_campione = df.drop(index = l1)
df_test = df.iloc[l1].drop("Specie",axis=1)

print(l1)

[74, 30, 77, 148, 11, 83, 73, 129, 15, 110]

In [7]:
%%time

#CREAZIONE DEL MODELLO

df_set = df_campione[df_campione["Specie"] == 0].drop("Specie",axis=1)
df_ver = df_campione[df_campione["Specie"] == 1].drop("Specie",axis=1)
df_vig = df_campione[df_campione["Specie"] == 2].drop("Specie",axis=1)

mean_set = np.array([df_set.mean(axis='index')])
mean_ver = np.array([df_ver.mean(axis='index')])
mean_vig = np.array([df_vig.mean(axis='index')])
matrix_mean = np.concatenate((mean_set,mean_ver,mean_vig),axis=0)

D_set=euclidean_distance(df_test,mean_set).reshape([10,1])
D_ver=euclidean_distance(df_test,mean_ver).reshape([10,1])
D_vig=euclidean_distance(df_test,mean_vig).reshape([10,1])
D_matrix = np.concatenate((D_set,D_ver,D_vig), axis=1)

D_df = pd.DataFrame(D_matrix, columns= ["Setosa","Versicolor","Virginica"])
D_df['Valore minimo']=(D_df.min(1))

List_result1 = []
List_result2 = []
Setosa = "Setosa"
Versicolor= "Versicolor"
Virginica ="Virginica"

for index, row in D_df.iterrows():
    if row["Setosa"] == row["Valore minimo"]:
        List_result1.append(Setosa)
        List_result2.append(0)
    elif row["Versicolor"] == row["Valore minimo"]:
        List_result1.append(Versicolor)
        List_result2.append(1)
    else:
        List_result1.append(Virginica)
        List_result2.append(2)

Wall time: 4.96 ms

In [8]:
# TEST DI CALCOLO
test = np.array(df.iloc[df_test.index]["Specie"]).reshape(10,1)
List_result2_array=np.array(List_result2).reshape(10,1)
List_result2_array

list_control = []

for ind in range(10):
    if test[ind] - List_result2_array[ind] == 0:
        list_control.append(0)

    else:
        list_control.append(1)

if sum(list_control) == 0:
    print("Va tutto bene, il modello funziona!")

else:
    print("Il modello ha qualche errore!")
    print("Numero di errori: ", sum(list_control)," su 10")

print("Test: ",test.reshape(1,10))
print("Modello: ",List_result2_array.reshape(1,10))
print("Controllo:",list_control)

Il modello ha qualche errore!
Numero di errori:  2  su 10
Test:  [[1 0 1 2 0 1 1 2 0 2]]
Modello:  [[1 0 2 2 0 2 1 2 0 2]]
Controllo: [0, 0, 1, 0, 0, 1, 0, 0, 0, 0]

In [9]:
# TEST VISIVO SU TABELLA
D_df["Specie Predetta"] = List_result1
D_df["Predizione Numero"]= List_result2
D_df["Test"]= test
D_check = []
for index, row in D_df.iterrows():
    if row["Predizione Numero"] == row["Test"]:
        D_check.append("Corretto")
    else:
        D_check.append("Sbagliato")
D_df["Check"] = D_check 
D_df

,Setosa,Versicolor,Virginica,Valore minimo,Specie Predetta,Predizione Numero,Test,Check
0,3.380980,0.521390,1.468649,0.521390,Versicolor,1,1,Corretto
1,0.402600,3.068582,4.715154,0.402600,Setosa,0,0,Corretto
2,4.212464,1.205468,0.660846,0.660846,Virginica,2,1,Sbagliato
3,4.607067,1.693113,0.663898,0.663898,Virginica,2,2,Corretto
4,0.251298,3.115826,4.733596,0.251298,Setosa,0,0,Corretto
5,4.078193,0.936518,0.897582,0.897582,Virginica,2,1,Sbagliato
6,3.609527,0.536596,1.299310,0.536596,Versicolor,1,1,Corretto
7,5.072009,2.080264,0.788828,0.788828,Virginica,2,2,Corretto
8,1.219244,3.306269,4.689839,1.219244,Setosa,0,0,Corretto
9,4.319841,1.340709,0.526444,0.526444,Virginica,2,2,Corretto

In [10]:
%%time
#CONTROLLO DELLA PERFORMANCE

lista_controllo = []
n_test = 3000
for tests in range(n_test):
    l1 = []
    while len(l1) < 10:
        rand = random.randint(0,149)
        if rand in l1:
            continue
        else:
            l1.append(rand)
    df_campione = df.drop(index = l1)
    df_test = df.iloc[l1].drop("Specie",axis=1)
    
    df_set = df_campione[df_campione["Specie"] == 0].drop("Specie",axis=1)
    df_ver = df_campione[df_campione["Specie"] == 1].drop("Specie",axis=1)
    df_vig = df_campione[df_campione["Specie"] == 2].drop("Specie",axis=1)
    mean_set = np.array([df_set.mean(axis='index')])
    mean_ver = np.array([df_ver.mean(axis='index')])
    mean_vig = np.array([df_vig.mean(axis='index')])
    matrix_mean = np.concatenate((mean_set,mean_ver,mean_vig),axis=0)
    D_set=euclidean_distance(df_test,mean_set).reshape([10,1])
    D_ver=euclidean_distance(df_test,mean_ver).reshape([10,1])
    D_vig=euclidean_distance(df_test,mean_vig).reshape([10,1])
    D_matrix = np.concatenate((D_set,D_ver,D_vig), axis=1)
    D_df = pd.DataFrame(D_matrix, columns= ["Setosa","Versicolor","Virginica"])
    D_df['Valore minimo']=(D_df.min(1))
    
    List_result1 = []
    List_result2 = []
    Setosa = "Setosa"
    Versicolor= "Versicolor"
    Virginica ="Virginica"

    for index, row in D_df.iterrows():
        if row["Setosa"] == row["Valore minimo"]:
            List_result1.append(Setosa)
            List_result2.append(0)
        elif row["Versicolor"] == row["Valore minimo"]:
            List_result1.append(Versicolor)
            List_result2.append(1)
        else:
            List_result1.append(Virginica)
            List_result2.append(2)
    
    test = np.array(df.iloc[df_test.index]["Specie"]).reshape(10,1)
    List_result2_array=np.array(List_result2).reshape(10,1)
    List_result2_array

    control = test - List_result2_array
    
    
    for ind in range(10):
        if test[ind] - List_result2_array[ind] == 0:
            lista_controllo.append(0)

        else:
            lista_controllo.append(1)

performance = (sum(lista_controllo))/(n_test*10)
print("Test eseguiti: ",len(lista_controllo))
print("Test errati: ",sum(lista_controllo))
print(f"Percentuale errore: {performance} %")

Test eseguiti:  30000
Test errati:  2259
Percentuale errore: 0.0753 %
Wall time: 14.1 s